<section class="main-slider pt-5 pb-4">
  <div class="container p-0 p-sm-2">
    <div class="slider">
      <div class="slider-container">
        <div class="card border-0">
          <img src="./assets/images/image1.png" class="card-img" alt="Image tea">
          <div class="card-img-overlay row align-items-center">
            <div class="col-lg-8" style="margin-left: 10%">
              <h2 class="">Скидки на травянные чаи</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-accordion pt-3 pb-5">
  <div class="container">
    <h2 class="accordion-title fw-bold mb-5 text-center">Ответы на часто задаваемые вопросы</h2>
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Собираете ли вы подарочные боксы?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
              стоимость!
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Сколько у вас разновидностей чая?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem corporis natus odit,
              repellendus sapiente unde voluptates! Amet, est, ipsa.
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton> В какой срок осуществляется доставка?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem corporis natus odit,
              repellendus sapiente unde voluptates! Amet, est, ipsa.
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>У вас обновляется ассортимент?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem corporis natus odit,
              repellendus sapiente unde voluptates! Amet, est, ipsa.
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton> Какого объема у вас пачки чая?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem corporis natus odit,
              repellendus sapiente unde voluptates! Amet, est, ipsa.
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Посмотрите наши чайные коллекции</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <a [routerLink]="'/catalog'" class="btn btn-primary" (click)="modal.close('Close click')">Смотреть</a>
  </div>
</ng-template>
