<section class="main-slider pt-5 pb-4 wow animate__backInRight">
  <div class="container p-0 p-sm-2">
    <div class="slider">
      <!--            1-slide-->
      <div class="slider-container">
        <div class="card border-0">
          <img src="./assets/images/image1.png" class="card-img" alt="Image tea">

          <div class="card-img-overlay row align-items-center">
            <div class="col-lg-8" style="margin-left: 10%">
              <h2 class="">Скидки на травянные чаи</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-accordion pt-3 pb-5">
  <div class="container">
    <h2 class="accordion-title fw-bold mb-5 text-center">Ответы на часто задаваемые вопросы</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Собираете ли вы подарочные боксы?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
            стоимость!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo">
            Сколько у вас разновидностей чая?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis culpa, dicta ducimus enim
            expedita explicabo id illo incidunt ipsum laboriosam nulla obcaecati praesentium quas quos suscipit ullam,
            velit? Esse.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree">
            В какой срок осуществляется доставка?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda deserunt ea, facilis fugit
            laborum non saepe tempore. Blanditiis modi molestiae obcaecati, recusandae tenetur voluptatem?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFour">
            У вас обновляется ассортимент?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at commodi consectetur corporis debitis
            dolore error eveniet fuga hic in labore nemo, neque odit perferendis possimus quis quo soluta temporibus
            tenetur vel! Asperiores dolores explicabo laudantium modi neque similique, veniam.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFive">
            Какого объема у вас пачки чая?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, deleniti ea excepturi fuga inventore labore
            laboriosam maiores neque sint voluptatum!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Посмотрите наши чайные коллекции</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <a [routerLink]="'/catalog'" class="btn btn-primary" (click)="modal.close('Close click')">Смотреть</a>
  </div>
</ng-template>
