<div style="max-width: 600px; margin: 0 auto">
  <div class="card p-2">
    <img class="card-img-top img-thumbnail" src="{{product?.image}}" alt="tea">
    <div class="card-body">
      <h4 class="card-title">{{product?.title}}</h4>
      <p class="card-text">{{product?.description}}</p>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <p class="card-price m-0">Цена: {{product?.price | currency: 'руб.'}}</p>
      <a href="#" class="btn btn-success hvr-outline-out" routerLink="/order" [queryParams]="{product: product?.title}">Купить</a>
    </div>
  </div>
</div>

<div *ngIf="loading" class="loader-bg">
  <div class="loader"></div>
</div>


