<div class="container">

  <div class="col-lg-12 mt-5 p-4 border rounded-2">
    <div *ngIf="isCreatedOrder">
      <h2 class="m-3 text-center">Спасибо за заказ!</h2>
      <div class="d-flex justify-content-center">
        <button class="w-50 btn btn-primary btn-lg" [routerLink]="''">Главная</button>
      </div>
    </div>
    <form class="needs-validation" novalidate [formGroup]="orderForm" *ngIf="!isCreatedOrder">
      <h2 class="m-3 text-center">Оформление заказа</h2>
      <div class="row g-3">

        <div class="w-100">
          <div class="col-sm-5">
            <label for="product" class="form-label">Ваш товар:</label>
            <input type="text" class="form-control" id="product" formControlName="product">
          </div>
        </div>


        <div class="col-sm-6">
          <label for="name" class="form-label">Имя</label>
          <input type="text" class="form-control"
                 formControlName="name"
                 id="name" placeholder="" value="">
          <div *ngIf="orderForm.get('name')?.invalid
               && (orderForm.get('name')?.touched || orderForm.get('name')?.dirty)">
            <div class="invalid-feedback" *ngIf="orderForm.get('name')?.errors?.['required']">
              Поле "Имя" обязательное для заполнения
            </div>
            <div class="invalid-feedback" *ngIf="orderForm.get('name')?.errors?.['pattern']">
              Поле "Имя" должно содержать только буквы
            </div>
          </div>

        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control"
                 formControlName="last_name"
                 id="lastName" placeholder="" value="" required>
          <div *ngIf="orderForm.get('last_name')?.invalid
               && (orderForm.get('last_name')?.touched || orderForm.get('last_name')?.dirty)">
            <div class="invalid-feedback" *ngIf="orderForm.get('name')?.errors?.['required']">
              Поле "Фамилия" обязательное для заполнения
            </div>
            <div class="invalid-feedback" *ngIf="orderForm.get('last_name')?.errors?.['pattern']">
              Поле "Фамилия" должно содержать только буквы
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="address" class="form-label">Адресс:</label>
          <input type="text" class="form-control" id="address" formControlName="address">
          <div *ngIf="orderForm.get('address')?.invalid
               && (orderForm.get('address')?.touched || orderForm.get('address')?.dirty)">
            <div class="invalid-feedback" *ngIf="orderForm.get('address')?.errors?.['required']">
              Поле "Адресс" обязательное для заполнения
            </div>
            <div class="invalid-feedback" *ngIf="orderForm.get('address')?.errors?.['pattern']">
              В поле «Адрес» можно вводить: буквы, цифры, пробелы, дефис и слеш!
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="phone" class="form-label">Телефон:</label>
          <input type="text" class="form-control" id="phone" formControlName="phone">
          <div *ngIf="orderForm.get('phone')?.invalid
               && (orderForm.get('phone')?.touched || orderForm.get('phone')?.dirty)">
            <div class="invalid-feedback" *ngIf="orderForm.get('phone')?.errors?.['required']">
              Поле "Телефон" обязательное для заполнения
            </div>
            <div class="invalid-feedback" *ngIf="orderForm.get('phone')?.errors?.['pattern']">
              В поле «Телефон» можно вводить только цифры(11 цифр) и знак "+"(перед цифрами)
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="country" class="form-label">Страна:</label>
          <input type="text" class="form-control" id="country" formControlName="country">
          <div *ngIf="orderForm.get('country')?.invalid
               && (orderForm.get('country')?.touched || orderForm.get('country')?.dirty)">
            <div class="invalid-feedback" *ngIf="orderForm.get('country')?.errors?.['required']">
              Поле "Страна" обязательное для заполнения
            </div>
            <div class="invalid-feedback" *ngIf="orderForm.get('country')?.errors?.['pattern']">
              Поле "Страна" должно содержать только буквы
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="zip" class="form-label">Индекс:</label>
          <input type="text" class="form-control" id="zip" formControlName="zip">
          <div *ngIf="orderForm.get('zip')?.invalid
               && (orderForm.get('zip')?.touched || orderForm.get('zip')?.dirty)">
            <div class="invalid-feedback" *ngIf="orderForm.get('zip')?.errors?.['required']">
              Поле "Индекс" обязательное для заполнения
            </div>
            <div class="invalid-feedback" *ngIf="orderForm.get('zip')?.errors?.['pattern']">
              Поле "Индекс" должно содержать только цифры(от 3 до 10 цифр)
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="comment" class="form-label">Комментарий к заказу:</label>
          <textarea class="form-control" id="comment" formControlName="comment"> </textarea>
        </div>
      </div>

      <hr class="my-4">
      <div class="d-flex justify-content-center">
        <button class="w-50 btn btn-primary btn-lg" [disabled]="loading" (click)="createOrder()">Заказать</button>
      </div>
      <div class="invalid-feedback text-center mt-2" *ngIf="isCreatedOrderError">
        Произошла ошибка. Попробуйте еще раз.
      </div>

      <div *ngIf="loading" class="loader-bg">
        <div class="loader"></div>
      </div>
    </form>
  </div>

</div>
